<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' %}
          <h3 class="text-center">{{site.description}}</h3>
          {% endif %}

          {% include about.html %}

          <div class="hero-buttons">

            {% if site.linkedin_url != '' %}
              <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin fa-lg"></i></a>
            {% endif %}
            {% if site.github_url != '' %}
              <a href="{{ site.github_url }}"><i class="fa fa-github fa-lg"></i></a>
            {% endif %}

          </div>

          {% if site.email != '' %}
          <br><br>
          
          <h4 class="text-center">{{site.email}}</h4>
          {% endif %}

        </div>

      </div>

      <a class="section-jump text-center" href="#personal-projects">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>